<div class="container-fluid">
  <div class="row">
    <div class="col-4 mt-5" *ngFor="let product of products">
      <p-card class="justify-content-center text-center h-100 w-100" >
        <ng-template #header>
          <img alt="Kép" src="{{product.imageSrc}}"/>
        </ng-template>
        <ng-template #title> {{ product.name }}</ng-template>
        <ng-template #subtitle> {{ product.price }} Ft</ng-template>
        <p>{{ product.description }}</p>
        <ng-template #footer>
          <p-button type="button" (onClick)="navigate('/buy/' + product._id)" label="Bővebben"/>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
