<div class="container-fluid text-center">
  <h1>Kiszállításaink</h1>
  <p-table [value]="shippings" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" stripedRows [rowsPerPageOptions]="[1, 5, 10, 20]">
    <ng-template #header>
      <tr>
        <th>Eladó</th>
        <th>Kezdő cím</th>
        <th>Vásárló</th>
        <th>Szállítási cím</th>
        <th>Termék neve</th>
        <th>Érkezés legkorábban</th>
        <th>Érkezés legkésőbb</th>
      </tr>
    </ng-template>
    <ng-template #body let-shipping>
      <tr>
        <td>{{ shipping.seller }}</td>
        <td>{{ shipping.from }}</td>
        <td>{{ shipping.buyer }}</td>
        <td>{{ shipping.to }}</td>
        <td>{{shipping.productName}}</td>
        <td>{{ shipping.arrivalFirst | date:'yyyy.MM.dd' }}</td>
        <td>{{ shipping.arrivalLast | date:'yyyy.MM.dd' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
