<div class="login-container">
  <p-toast position="bottom-right" key="b1" />
  <p-confirmdialog />
	<form class="login-form" [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <h2 class="mb-4 mt-2">Termék eladás</h2>
		<p-float-label variant="on">
			<input pInputText id="name" formControlName="name"/>
			<label for="name">Termék neve</label>
		</p-float-label>
		<p-float-label variant="on">
			<p-inputnumber mode="currency" currency="HUF" locale="hu-HU" [minFractionDigits]="0" inputId="money" formControlName="price"/>
			<label for="money">Termék ára</label>
		</p-float-label>
		<p-float-label variant="on">
			<textarea pTextarea rows="5" cols="40" id="description" formControlName="description"></textarea>
			<label for="description">Termék leírása</label>
		</p-float-label>
    <input type="file" id="image" accept="image/*" (change)="onFileSelected($event)" />
		<div>
			<p-button type="submit" label="Feladás"/>
			<p-button type="button" (onClick)="navigate('/home')" label="Mégsem" severity="danger"/>
		</div>
	</form>
</div>
<div>
  <h1>Aktív megrendeléseim</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 mt-5" *ngFor="let product of products()">
        <p-card class="justify-content-center text-center h-100 w-100" >
          <ng-template #header>
            <p-image width="75%" height="330" alt="Kép" src="http://localhost:5000/{{product.imageSrc}}"/>
          </ng-template>
          <ng-template #title> {{ product.name }}</ng-template>
          <ng-template #subtitle> {{ product.price }} Ft</ng-template>
          <p>{{ product.description }}</p>
          <ng-template #footer>
            <p-button type="button" (onClick)="navigate('/sell/' + product._id)" label="Módosítás"/>
            <p-button type="button" class="mx-3" severity="danger" (onClick)="confirmDelete($event, product._id)" label="Törlés"/>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
