<div class="login-container">
  <form class="login-form" (ngSubmit)="login()">
    <p-floatlabel variant="on">
      <input pInputText id="username" name="username" [(ngModel)]="username"/>
      <label for="username">Felhasználó név</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input type="password" pInputText id="password" name="password" [(ngModel)]="password"/>
      <label for="password">Jelszó</label>
    </p-floatlabel>
    <p-button type="submit" label="Bejelentkezés"/>
    <p-button type="button" (onClick)="navigate('/register')" label="Regisztráció" severity="info"/>
  </form>
</div>
