<div class="login-container">
  <p-toast position="bottom-right" key="b1" />
  <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <p-floatlabel variant="on">
      <input pInputText id="name" formControlName="name"/>
      <label for="name">Neve</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input pInputText id="username" formControlName="username" required/>
      <label for="username">Felhasználó név</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input pInputText id="address" formControlName="address" />
      <label for="address">Szállítási cím</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input pInputText type="email" id="email" formControlName="email" [ngClass]="{'invalid-input': registerForm.get('email')?.errors}" required/>
      <label for="email">E-mail cím</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input type="password" pInputText id="password" formControlName="password" required/>
      <label for="password">Jelszó</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <input type="password" pInputText id="confirmPassword" formControlName="confirmPassword" required/>
      <label for="confirmPassword">Jelszó megerősítés</label>
    </p-floatlabel>
    <div *ngFor="let type of userTypes">
      <p-radiobutton [inputId]="type.name" [value]="type.value" formControlName="userRole"/>
      <label [for]="type.name" class="ml-2">{{ type.label }}</label>
    </div>
    <p-button type="submit" label="Regisztráció"/>
    <p-button type="button" (onClick)="navigate('/login')" label="Bejelentkezés" severity="info"/>
  </form>
</div>
