<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" stripedRows [rowsPerPageOptions]="[1, 5, 10, 20]">
  <ng-template #header>
    <tr>
      <th>Név</th>
      <th>Felhasználó név</th>
      <th>Szállítási cím</th>
      <th>E-mail</th>
      <th>Szerep</th>
    </tr>
  </ng-template>
  <ng-template #body let-user>
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.seller }}</td>
    </tr>
  </ng-template>
</p-table>
